body, html{
    height: 100vh;

}
body {
    margin: o;
    display: grid;
    grid-template-columns: auto, 27% 27% 27%;
    grid-template-rows: 8% 30% auto 10%;
    grid-template-areas:
    "sidebar header header header"
    "sidebar sect1 sect 2 sect 3"
    "sidebar main main main"
    "sidebar, footer footer footer" ;
}
aside{
    grid-area: sidebar;
    background-color: rgb(113, 218, 234);
}