
/* Create variables for styling*/

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100% ;
    height: 100%;
}

/* Variables */

:root{
--primary_color: rgb(3, 3, 3);
--second_color: red;
--title_color: navy;
--text_color: black;
--border_color: green;
--gradient-color:rgb(0, 255, 255);
--box-shadow: inset white;
--shadow-color: 0px 10px 30px rgb(7, 69, 113);
}
/* font family variables */
:root{
--FjallaOne: serif;
}

