@import url(./partials/variables.css);
@import url(./fonts.css);


 /* Start Navigation Area */

.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 20rem;
    size-adjust: 25%;
}
.header_area.main-menu.row.col{
    text-align: center;
}

.header_area.main-menu.navbar{
    padding: 1rem 5rem;
    text-align: right;
    margin-right: auto;
    
}

.header_area.main-menu.nav-item.nav-link{
    font:normal 500 15px/2px var(--FjallaOne);
    text-transform: uppercase;
    padding: 2rem;
    color: var(--title_color);
}
/*   Active /*/
.header_area.main-menu.navbar-nav.active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/*   Hover /*/
.header_area.main-menu.navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    
}

 /* End Navigation Area */

/* Start Main Area Carousel /*--*/

.carousel-inner.carousel-item{
    background: var(--gradient-color);
    border-bottom: .5em ;
    border-top: .25em;
    border-left: 0em;
    border-right: .5em;
    box-sizing: border-box;
    size-adjust: 600px;
}


/*    End Main Area Columns     */

 /* Start Main Area ---- Cards----- /*--*/
        .card.card-image-top.card-title {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: medium;
            border-style: groove;
            margin: auto;
        }

.card-text{
    padding-bottom: 10%;
  padding-right: 5%;
  position: center;
}
 /*  End Main Area - Cards ---- /*

 